{
  "env": {
    "development": {
      "plugins": [["babel-plugin-transform-es2015-modules-commonjs",
                   {"loose":true}]]
    },
    "temp": {
      presets: ["@effectful/es-loose"]
    },
    "loose": {
      "passPerPreset": true,
      "presets": [
        ["@effectful/es-loose",{jsExceptions:false,
                                inlineJsExceptions:false}],
        {
          "plugins": [["babel-plugin-transform-es2015-modules-commonjs",
                       {"loose":true}]]
        }
      ]
    }
  }
}

